* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    background-color: #7DC9F5;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navegação */
nav {
    margin-top: 20px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 10px 0;
    background-color: #7dc9f58f;
    border-radius: 30px;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efeito hover no menu */
.menu a:hover {
    background-color: #429ace;
    transform: scale(1.1);
}

/* Seção do conteúdo */
main {
    padding: 50px 20px;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h2 {
    font-size: 2.5em;
    color: #FF6699;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 1.2em;
    color: #555;
}

/* Bloco das imagens
sa poha ta feio pra caralho */
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-card {
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.image-card h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #333;
}

/* Efeito hover nos cards
lembrar de trocar sa merda */
.image-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

footer p {
    font-size: 1em;
}

/* Efeito de scroll suave */
html {
    scroll-behavior: smooth;
}
